*_compiled.js
*_.js
*_.htm

Debug/
ipch/
Release/
*.exe
*.log
*.opensdf
*.o
*.sdf
*.suo
*.user

js/build/
js/coverage/
js/node_modules/
js/test/*.js
js/tools/doc/
js/tools/out/
js/tools/report/
ts/*/*.js
